*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

:root{
    --background: #0b0f2d;
    --secondaryBackground: #1e255e;
    --text: #e0e0e0;
    --purple:#5d39ff ;
    --teal: #00f0ff;
}

body{
    background-color: var(--background);
    color: var(--text);
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    max-width: 500px;
    margin: 120px auto 0 auto;
}


@property --angle{

    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.box-1{
    padding: 30px;
    border-radius: 20px;
    background-color: var(--background);
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.box-1::after,.box-1::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),transparent,var(--purple));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 5px;
    animation: roll 3s linear infinite;
}

.box-1::before{
    filter: blur(6rem);
    opacity: 1;
}

@keyframes roll{
    from{--angle:0deg;
    }
    to{--angle:360deg;
    }
}

#progressbar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
    
}

.details{
    width: 100%;
}

#progress{
    width: 50%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all .3s ease;
}
#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}

form{
    margin-top: 60px;
    width: 100%;
    display: flex;
}

input{
    flex: 1;
    padding: 16px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}

button{
    padding: 16px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purple);
    color:var(--text);
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    outline: none;
    border: none;
}

button:hover{
    background-color: var(--text);
    color: var(--background);
    transition: .3s ease;
}

#task{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style:none;
}

.taskItem{
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 100%;

}
.task{
    display: flex;
    align-items: center;
    gap: 10px;
}

.task input{
    width: 20px;
    height: 20px;

}

.task.completed{
    text-decoration: line-through;
    color: var(--teal);
}

.taskItem img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}